.tabs {
    display: flex;
}

.tab-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.tab-button:hover {
    background-color: #2980b9;
}

.tab-content {
    margin-top: 20px;
}

.tab-pane {
    display: none;
}

#datos {
    display: block;
}

.waypoint-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0.5rem;
}

.location-container{
    margin: 1rem 0 1rem 0;
}

.buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.status-container{
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.status-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.task-data-content{
    padding: 1rem;
}