<nav ngbNav #nav="ngbNav" class="nav-tabs justify-content-center">
    <ng-container ngbNavItem>
        <a ngbNavLink>Datos</a>
        <ng-template ngbNavContent>
            <div class="task-data-content">
                <app-work-task-data 
                    [data]="data"
                    [showFullData]="true">
                </app-work-task-data>
            </div>
        </ng-template>
    </ng-container>

    <ng-container ngbNavItem>
        <a ngbNavLink>Rutas</a>
        <ng-template ngbNavContent>
        <ng-container *ngFor="let waypoint of data.waypoints">
            <div class=" waypoint-container card">
                <div class="order-container">
                    <label>{{waypoint.order}}</label>
                </div>
                <div class="location-container">
                    <p>{{waypoint.location}}</p>
                    <p>{{waypoint.address}}</p>
                </div>
                <div class="buttons-container">
                    <button [disabled]="data.statusName == 'Completado'" (click)="changeStatus('IN_POINT', waypoint.id)" class="btn btn-primary"><i class="fa fa-map-marker"></i> En punto destino</button>
                    <button [disabled]="data.statusName == 'Completado'" (click)="changeStatus('CHECK', waypoint.id)" class="btn btn-success mt-1"><i class="fa fa-check"></i> Ruta Cumplida</button>
                </div>
            </div>
        </ng-container>
    </ng-template>
</ng-container>

<ng-container ngbNavItem>
    <a ngbNavLink>Histórico de estados</a>
        <ng-template ngbNavContent>
            <ng-container *ngFor="let status of data.statuses">
                <div class="status-container card">
                    <div class="status-info">
                        <label><strong>{{status.name}}</strong></label>
                        <label>{{status.createdAt | date:'medium'}}</label>
                    </div>
                    <p>{{status.observation??"Sin observaciones"}}</p>
                </div>
            </ng-container>
        </ng-template>
    </ng-container>
</nav>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
