
.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: white;
    color: rgb(0, 0, 117);
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .title-content{
    display: flex;
    align-items: center;
  }

  .user-content {
    margin: 0 16px;
  }

  @media screen and (max-width: 425px) {
    .toolbar{
        flex-wrap: wrap;
    }
  }

  