<div class="content">
    <strong>{{data.categoryName}}</strong>
    <p>{{data.description}}</p>
    <label><strong>Estado</strong></label>
    <p>{{data.statusName}}</p>
    <label><strong>Fecha limite de cumplimiento</strong></label>
    <p>{{data.deadLine | date: 'fullDate'}}</p>
    <ng-container *ngIf="showFullData">
        <label><strong>Observaciones</strong></label>
        <p>{{data.observation}}</p>
    </ng-container>

    <button (click)="completeTask(data.id)" [disabled]="data.canComplete || data.statusName == 'Completado'" class="btn btn-success"><i class="fa fa-flag"></i> Completar tarea</button>
</div>