<div class="add-task">
    <form [formGroup]="form">
        <div class="header-container" >
            <div class="back-button-container">
                <button (click)="back()" class="btn btn-info"><i class="fa fa-angle-left"></i></button>
            </div>
            <div class="title-content">
                <h2>Nueva Tarea</h2>
                <button (click)="save($event)" class="btn btn-success"><i class="fa fa-floppy-disk"></i>Crear</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label for="categorias"><strong>Categorías</strong></label>
                    <ng-select formControlName="category" [(ngModel)]="selectedCategory" bindLabel="name" bindValue="id" name="categories"
                                    [items]="categories" 
                                    [placeholder]="'Seleccione una categoria'">
                                </ng-select>
                                
                </div>
                
                <label for="fecha"><strong>Fecha limite para completar</strong></label>
                <input type="date" formControlName="deadline">
            </div>
            <div class="col-md-8 col-xs-12">
                <label for="descripcion"><strong>Descripción</strong></label>
                <textarea formControlName="description" id="descripcion" name="descripcion" rows="4"></textarea>
        
                <label for="observacion"><strong>Observación</strong></label>
                <textarea formControlName="observation" id="observacion" name="observacion" rows="4"></textarea>
            </div>
        </div>

        <div class="waypoint-container">
            <div class="title mr-1">
                <h2>Puntos de destino</h2>
            </div>
            <button (click)="addWaypoint()" class="btn btn-primary round"><i class="fa fa-plus"></i></button>
        </div>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label for="locations"><strong>Localidad</strong></label>
                    <ng-select formControlName="location" [(ngModel)]="selectedLocation" bindLabel="name" bindValue="id" name="locations"
                        [items]="locations" 
                        [placeholder]="'Seleccione la localidad'">
                    </ng-select>    
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <label for="address"><strong>Dirección</strong></label>
                    <input formControlName="address" id="address" name="address"/>
                </div>
            </div>
            <div class="col-md-12 col-xs-12">
                <ng-container *ngFor="let waypoint of waypoints">
                    <div class=" waypoint-content card">
                        <div class="order-container">
                            <label>{{waypoint.order}}</label>
                        </div>
                        <div class="location-container">
                            <p>{{waypoint.locationName}}</p>
                            <p>{{waypoint.address}}</p>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </form>
</div>